* {
  font-family: "Roboto", arial, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  color: white;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

body > * {
  display: flex;
}

script {
  display: none;
}

body {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

.bcl1 {
  background-color: #fc766aff;
}

.bcl2 {
  background-color: #798eb2;
}

.bcl3 {
  background-color: #8fa8d3;
}

.complete {
  width: 100%;
  min-height: 100vh;
}

.content {
  width: 100%;
}

.space {
  min-height: 50px;
  height: 8vh;
  width: 100%;
}

#toggle-icon {
  cursor: pointer;
  display: table;
}

.hbar1,
.hbar2,
.hbar3 {
  background-color: #fff;
  width: 5.47645125958379vh;
  height: 0.6258801439524331vh;
  transition: 0.5s;
  margin-top: 1.09375vh;
  margin-bottom: 1.09375vh;
  border-radius: 2px;
}

.rotate-icon .hbar1 {
  -webkit-transform: rotate(-45deg) translate(-1.25vh, 0.9375vh);
  transform: rotate(-45deg) translate(-1.25vh, 0.9375vh);
}

.rotate-icon .hbar2 {
  opacity: 0;
}

.rotate-icon .hbar3 {
  -webkit-transform: rotate(42deg) translate(-1.40625vh, -1.25vh);
  transform: rotate(42deg) translate(-1.40625vh, -1.25vh);
}

header {
  background-color: #2c3b55;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 7vh;
  position: fixed;
  z-index: 5;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#logo {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5rem;
}

.nav-div {
  display: flex;
}

.nav-div > * {
  margin: auto auto;
}

.nav-element {
  display: none;
}

.menu {
  font-style: normal;
  position: relative;
  z-index: 7;
  margin-right: 5%;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 10px;
  display: flex;
  margin: 0 0;
}

.secondary-nav {
  padding-top: 7vh;
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  z-index: -1;
  background-color: #455268;
  background-image: url(images/nav3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav2-first {
  margin-top: 4vh;
}

.nav2-element {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav2-element > * {
  width: 100%;
}

.nav2-text {
  width: 80%;
  text-align: left;
  border-bottom-style: solid;
  border-width: 2px;

}

#landing {
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/landing_3.png");
  justify-content:space-around
}

#landing > * {
  margin-top: 0;
  margin-bottom: 0;  

}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #F5B538;
}

.subtitle {
  font-size: 2rem;
}

.information {
  font-size: 1.5rem;
  width: 80%;
}

.btn {
  background-color: #fc766aff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  width: 23%;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 15px;
}

.social-media {
  list-style-type: none;
  padding: 0;
  color: #F5B538;
  display: flex;
  flex-direction: row;
  width: 80%;
  font-size: 2rem;
}

.social-li {
  border-radius: 100%;
  width: 100%;
}

.fa {
  display: block;
  color: #F5B538;
  text-decoration: none;
}

.work_image {
  width: 100%;
  height: 100vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#portfoliob {
  height: auto;
  position: relative;
  z-index: 2;
}

.absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.surface {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  z-index: 3;
}

.subtitle-div {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.subtitle-text {
  width: 100%;
  margin-bottom: 2%;
  font-size: 2rem;
}

.subtitle-bar {
  height: 0.5vh;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
}

.projects {
  display: grid;
  grid-template-columns: 100%;
  gap: 12vh;
  margin-bottom: 12vh;
  padding: 0 0;
}

.project-card {
  width: 80vw;
  height: auto;
  flex-direction: column-reverse;
  display: flex;
  background-color: #5f7499;
  border-radius: 30px;
  border-style: solid;
  border-color: #2c3b55;
  border-width: 2px;
  padding-bottom: 10px;
}

.project-card > * {
  text-align: left;
  width: 100%;
  height: 100%;
}

.project-description {
  width: 80%;
}

.project-info > * {
  text-align: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.project-title {
  margin-top: 15px;
  font-size: 2rem;
  color: #F5B538;
}

.project-subtitle {
  margin-top: 10px;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.skills-used {
  margin-top: 15px;
  flex-direction: row;
  display: flex;
  padding: 0 0;
  justify-content: center;
}

.skills-used > * {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #2c3b55;
  background-color: #2c3b55;
  display: flex;
  margin-bottom: 5px;
  padding: 0 10px;
}

.projectbutton {
  width: 150px;
  font-size: 1rem;
  margin-top: 15px;
  text-align: center;
  display: flex;
}

.project-image {
  margin-top: 30px;
  width: 100%;
  padding: 0 0;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
}

.image-container {
  width: 80%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.changed-header {
  background-color: #93a4c2;
  background-color: transparent;
}
.padding-top {
  padding-top: 1vh;
}

#contact-section {
  background-image: url("images/raw.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about-section {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 1fr
}

.about-box {
  width: 100%;
  height: 100%;
}

#ab1 {

}

.margin {
  padding: 5vh 5vw;
}

.margin > * {
  text-align: left;
}

.margin > p {
  font-size: 1.5rem;
}

#ab2 {
  background-color: #5f7499;
}

.resume {
  width: 152px;
}

.iam {
  padding-top: 7vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  justify-content: center;
}

.iam-text{
  color: black;
  margin-top: 25%;
  font-size: 3rem;
}

form {
  margin-top: 4vh;
}

.contact-title {
  font-size: 2.5rem;
  font-style: normal;
  color: #F5B538;
  margin-bottom: 1.2vh;
  margin-top: 7vh;
}

.small {
  margin-top: 2vw;
  margin-bottom: 2vw;
  text-align: left;
  align-self: flex-start;
  display: flex;
  color: #e74c3c;
  height: 4vw;
  font-size: 4vw;
}

input {
  text-align: start;
  background-color: white;
  font-size: 1.25rem;
  width: 90vw;
  height: 10vw;
  border: none;
}

textarea {
  resize: none;
  width: 90%;
  background-color: white;
  text-align: start;
  border: none;
  font-size: 4vw;
}

input.last {
  display: none;
}

.contact-info {
  width: 80%;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  visibility: hidden;
}

.modal {
  display: flex;
  width: 87.2vw;
  height: 90vh;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.45);
  z-index: 3;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  font-size: 20px;
  overflow: scroll;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 85.3211009174312%;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.modal-title {
  font-size: 20px;
  align-self: center;
  color: white;
  text-align: left;
}

.X {
  margin-left: auto;
  position: fixed;
  left: 85%;
  top: 12%;
  cursor: pointer;
}

.modal-img {
  margin-top: 12px;
  width: 74.52086811352254vw;
  height: 48.34507931379061vw;
  margin-left: auto;
  margin-right: auto;
}

.modal-info {
  font-size: 16px;
  line-height: 24px;
  width: 74.52086811352254vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#modal-tags {
  width: 74.52086811352254vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.modal-button span {
  font-size: 12px;
}

#modal-tags span {
  font-size: 15px;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
}

.modal-button {
  display: flex;
  background-color: #7d73fc;
  border: none;
  text-align: center;
  padding: 2vw;
  font-size: 12px;
  margin-top: 28px;
  margin-bottom: 1px;
  width: 108px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}

.modal-button:focus {
  background-color: #5e42d7;
}

.modal-button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #7d73fc;
}

.repo {
  margin-top: 24px;
  width: 124px;
  margin-bottom: 28px;
}

.icon {
  margin: auto auto;
}

.git {
  font-size: 20px;
  margin-left: 5px;
}

@media screen and (min-width: 638px) {
  .menu {
    display: none;
  }

  .project-info {
    padding-left: 4.5%;
    padding-right: 4.5%;
  }

  .nav-element {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    flex-direction: row;
  }

  .project-card {
    flex-direction: row;
    min-height: 300px;
    padding: 3%;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .image-container {
    width: 100%;
    height: 100%;
  }

  .project-info > * {
    text-align: left;
    padding: 0 0;
  }

  .project-subtitle {
    margin-bottom: 15px;
  }

  .skills-used {
    justify-content: start;
    margin-bottom: 15px;
  }

  .skills-used > * {
    margin-right: 15px;
    margin-left: 0;
  }

  .btn {
    width: 20%;
    text-align: center;
  }

  .projectbutton {
    width: 102px;
    padding: 10px;
    margin-left: 0;
    font-size: 1rem;
    margin-top: 10px;
  }

  .project-description {
    min-height: 90px;
    width: 100%;
  }

  .project-image {
    margin-top: 0px;
  }
  .information {
    font-size: 1.5rem;
    width: 50%;
  }

  .social-media {
    width: 50%;
  }

  .subtitle-div {
    width: 85%;
  }

  .subtitle-div {
    flex-direction: row;
  }

  .subtitle-text {
    width: 200px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

  #about-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .margin {
    width: 45vw;
  }

  #ab1 {

  }
  
  #ab2 {
  
  }

  .resume {
    width: 107px;
    margin-left: 0;
  }

  small {
    height: 16px;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-size: 12px;
  }

  form {
    width: 52.5%;
  }

  input {
    font-size: 1vw;
    width: 47.5%;
    height: 4vw;
    margin: 0 0;
    padding: 0 0;
  }

  input.last {
    display: block;
    margin-left: auto;
  }

  input.email {
    width: 100%;
  }

  .names {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .small {
    height: 16px;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-size: 12px;
  }

  textarea {
    font-size: 1vw;
    width: 100%;
    height: 100px;
    padding: 0 0;
  }

  .contact-info {
    width: 40%;
    font-size: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .submit {
    margin-top: 5vh;
    width: 13%;
  }

  .modal {
    display: flex;
    width: 80.27777777777777%;
    height: 90vh;
    font-size: 20px;
  }

  .modal-title {
    font-size: 40px;
  }

  .X {
    top: 10%;
  }

  .modal-img {
    margin-top: 12px;
    width: 96.68411867364748%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-info {
    margin-top: 30px;
    line-height: 30px;
    width: 56.055363321799305%;
    color: white;
  }

  #modal-tags {
    width: 30.527050610820243%;
    margin-top: 80px;
    margin-bottom: 48px;
  }

  .modal-buttons {
    flex-direction: row;
    width: 30.527050610820243%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  }

  .modal-button {
    display: flex;
    background-color: #7d73fc;
    color: black;
    transition-duration: 0.4s;
    border: none;
    padding: 1.3888888888888888vw;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 150px;
    height: auto;
  }

  .repo {
    width: 170px;
    margin-left: 78px;
  }

  .icon {
    margin: auto auto;
  }

  .git {
    font-size: 20px;
    margin-left: 7px;
  }

  .modal-button span {
    font-size: 12px;
    margin: auto auto;
  }
}
