* {
  font-family: "Roboto", arial, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  color: white;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

body > * {
  display: flex;
}

script {
  display: none;
}

body {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

.bcl1 {
  background-color: #fc766aff;
}

.bcl2 {
  background-color: #798eb2;
}

.bcl3 {
  background-color: #8fa8d3;
}

.complete {
  width: 100%;
  min-height: 100vh;
}

.content {
  width: 100%;
}

.space {
  min-height: 50px;
  height: 8vh;
  width: 100%;
}

#toggle-icon {
  cursor: pointer;
  display: table;
}

.hbar1,
.hbar2,
.hbar3 {
  background-color: #fff;
  width: 5.47645125958379vh;
  height: 0.6258801439524331vh;
  transition: 0.5s;
  margin-top: 1.09375vh;
  margin-bottom: 1.09375vh;
  border-radius: 2px;
}

.rotate-icon .hbar1 {
  -webkit-transform: rotate(-45deg) translate(-1.25vh, 0.9375vh);
  transform: rotate(-45deg) translate(-1.25vh, 0.9375vh);
}

.rotate-icon .hbar2 {
  opacity: 0;
}

.rotate-icon .hbar3 {
  -webkit-transform: rotate(42deg) translate(-1.40625vh, -1.25vh);
  transform: rotate(42deg) translate(-1.40625vh, -1.25vh);
}

header {
  background-color: #2c3b55;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 1vh;
  height: 7vh;
  position: fixed;
  z-index: 5;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 7vh;
  flex-direction: row;
}

#logo {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5rem;
}

.nav-div {
  height: 100%;
  display: flex;
}

.nav-div > * {
  height: 25px;
  margin: auto auto;
}

.nav-element {
  display: none;
}

.menu {
  font-style: normal;
  position: static;
  margin-right: 5%;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 10px;
  display: flex;
  margin: 0 0;
}

.secondary-nav {
  position: fixed;
  display: none;
  width: 100%;
  margin-top: 7vh;
  height: 93vh;
  flex-direction: column;
  z-index: 5;
  background-color: #191765;
  background-image: url(assest/nav2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav2-first {
  margin-top: 4vh;
}

.nav2-element {
  display: flex;
  flex-direction: row;
}

.nav2-element > * {
  width: 200px;
}

.nav2-arrow {
  width: auto;
  display: flex;
  color: #7d73fc;
  font-size: 30px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
}

#landing {
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  background-image: url("./images/landing_3.png");
}

.title {
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  font-weight: 700;
  color: #f89624;
  margin-top: 50px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 2rem;
  margin-top: 5px;
}

.information {
  font-size: 1.5rem;
  width: 80%;
}

.btn {
  background-color: #fc766aff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  width: 23%;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 15px;
}

.social-media {
  list-style-type: none;
  padding: 0;
  color: #f89624;
  display: flex;
  flex-direction: row;
  width: 80%;
  font-size: 2rem;
}

.social-li {
  border-radius: 100%;
  width: 100%;
}

.fa {
  display: block;
  color: #f89624;
  text-decoration: none;
}

.work_image {
  width: 100%;
  height: 100vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#portfoliob {
  height: auto;
  position: relative;
  z-index: 2;
}

.absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.surface {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  z-index: 3;
}

.subtitle-div {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.subtitle-text {
  width: 100%;
  margin-bottom: 2%;
  font-size: 2rem;
}

.subtitle-bar {
  height: 0.5vh;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
}

.projects {
  display: grid;
  grid-template-columns: 100%;
  gap: 12vh;
  margin-bottom: 12vh;
  padding: 0 0;
}

.project-card {
  width: 80vw;
  height: auto;
  flex-direction: column-reverse;
  display: flex;
  background-color: #5f7499;
  border-radius: 30px;
  border-style: solid;
  border-color: #2c3b55;
  border-width: 2px;
  padding-bottom: 10px;
}

.project-card > * {
  text-align: left;
  width: 100%;
  height: 100%;
}

.project-description {
  width: 80%;
}

.project-info > * {
  text-align: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.project-title {
  margin-top: 15px;
  font-size: 2rem;
  color: #f89624;
}

.project-subtitle {
  margin-top: 10px;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.skills-used {
  margin-top: 15px;
  flex-direction: row;
  display: flex;
  padding: 0 0;
  justify-content: center;
}

.skills-used > * {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #2c3b55;
  background-color: #2c3b55;
  display: flex;
  margin-bottom: 5px;
  padding: 0 10px;
}

.projectbutton {
  width: 47%;
  font-size: 1rem;
  margin-top: 15px;
  text-align: center;
  display: flex;
}

.project-image {
  margin-top: 30px;
  width: 100%;
  padding: 0 0;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
}

.image-container {
  width: 80%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 638px) {
  .menu {
    display: none;
  }

  .project-info {
    padding-left: 4.5%;
    padding-right: 4.5%;
  }

  .nav-element {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    flex-direction: row;
  }

  .subtitle-text {
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.5rem;
  }

  .project-card {
    flex-direction: row;
    height: 300px;
    padding: 3%;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .image-container {
    width: 100%;
    height: 100%;
  }

  .project-info > * {
    text-align: left;
    padding: 0 0;
  }

  .project-subtitle {
    margin-bottom: 15px;
  }

  .skills-used {
    justify-content: start;
    margin-bottom: 15px;
  }

  .skills-used > * {
    margin-right: 15px;
    margin-left: 0;
  }

  .btn {
    width: 20%;
    text-align: center;
  }

  .projectbutton {
    width: 22%;
    padding: 10px;
    margin-left: 0;
    font-size: 1rem;
    margin-top: 10px;
  }

  .project-description {
    height: 90px;
    width: 100%;
  }

  .project-image {
    margin-top: 0px;
  }
  .information {
    font-size: 1.5rem;
    width: 50%;
  }

  .social-media {
    width: 50%;
  }

  .subtitle-div {
    flex-direction: row;
  }

  .subtitle-text {
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }
}
